<h1>{{title}}</h1>
<header>
    <div>
        <u style="padding:0; text-decoration: none;">
            <li id="links"><a id="links" href="/">Weather</a></li>
            <li id="links"><a id="links" href="/about">About</a></li>
            <li id="links"><a id="links" href="/help">Help</a></li>
        </u>
    </div>
</header>
