body {
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 16px 16px;
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    min-height: 96vh;
}

.main-content{
    flex-grow: 1;
}

img{
    width: 250px;
}

footer {
    color: #888888;
    border-top: 1px solid yellow;
    padding-top: 16px;
}

header {
    margin: 5px 0;
}

header a{
    text-decoration: none;
    color: #888888;
}
header li{
    display: inline;
    padding-right: 10px
}

h1{
    font-size: 50px;
    margin: 0 auto;
}

input {
    border: 1px solid #cccccc;
    padding: 5px
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding:5px
}